<header>

  <div class="logo">
    <div class="logo-name">
      <p> SONQİYMƏT.<span>AZ</span></p>

    </div>
    <div class="logo-register">
      <ul>
        <li>
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.932" height="18" viewBox="0 0 13.932 18">
              <g id="man-user" transform="translate(-0.047)">
                <path id="Path"
                  d="M3.681,8.8c2.033,0,3.681-1.971,3.681-4.4S6.821,0,3.681,0,0,1.971,0,4.4,1.648,8.8,3.681,8.8Z"
                  transform="translate(3.319)" fill="#fff" />
                <path id="Path-2" data-name="Path" d="M.053.1c0-.2,0-.056,0,0Z" transform="translate(0.021 15.448)" />
                <path id="Path-3" data-name="Path" d="M.051.135c0-.041,0-.282,0,0Z"
                  transform="translate(13.927 15.505)" />
                <path id="Path-4" data-name="Path"
                  d="M13.9,6.205C13.829,1.97,13.267.764,8.968,0A2.594,2.594,0,0,1,6.953.759,2.6,2.6,0,0,1,4.937,0C.685.755.089,1.944.011,6.068,0,6.4,0,6.422,0,6.383c0,.073,0,.209,0,.445,0,0,1.023,2.031,6.952,2.031S13.9,6.828,13.9,6.828c0-.152,0-.257,0-.329A2.684,2.684,0,0,1,13.9,6.205Z"
                  transform="translate(0.047 9.141)" fill="#fff" />
              </g>
            </svg>

          </div>
          <a>Giriş</a>
        </li>
        <li>
          <a>Qeydiyyat</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-input">
          <div class="input">
            <input placeholder="Axtar" type="text">
          </div>
          <div class="content">
            <ul>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                  <g id="Group" transform="translate(-11 -11)">
                    <g id="magnifying-glass" transform="translate(11 11)">
                      <path id="Shape"
                        d="M19.165,20a.829.829,0,0,1-.59-.245l-4.808-4.8a8.427,8.427,0,1,1,1.18-1.179l4.808,4.808a.827.827,0,0,1,0,1.175A.829.829,0,0,1,19.165,20ZM8.429,1.673a6.753,6.753,0,1,0,6.755,6.755A6.763,6.763,0,0,0,8.429,1.673Z"
                        fill="#ffd41a" />
                    </g>
                  </g>
                </svg>

              </li>
              <li>
                <div class="detailed">
                  Ətraflı Axtarış
                </div>
              </li>
              <li>
                <div class="content-add">
                  <div class="icon">
                    <svg id="plus-button" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                      <path id="Shape"
                        d="M12.5,25a12.514,12.514,0,1,1,8.835-3.666A12.515,12.515,0,0,1,12.5,25Zm0-23.572A11.071,11.071,0,1,0,23.571,12.5,11.084,11.084,0,0,0,12.5,1.428Z"
                        fill="#fdfdfd" />
                      <path id="Path"
                        d="M10.873,1.786H.735A.825.825,0,0,1,0,.893.826.826,0,0,1,.735,0H10.873a.826.826,0,0,1,.734.893A.824.824,0,0,1,10.873,1.786Z"
                        transform="translate(7.143 11.607)" fill="#fdfdfd" />
                      <path id="Path-2" data-name="Path"
                        d="M.893,10.714A.809.809,0,0,1,0,10.036V.679A.809.809,0,0,1,.893,0a.808.808,0,0,1,.892.679v9.358A.806.806,0,0,1,.893,10.714Z"
                        transform="translate(11.607 7.143)" fill="#fdfdfd" />
                    </svg>

                  </div>
                  <div class="text">
                    Elan Yerləşdir
                  </div>
                </div>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="background">
    <img src="../../../assets/img/Path 2.svg" alt="">
  </div>
</header>
