<section id="data-content">
  <div class="container">
    <div class="upper-content">
      <div class="row">
        <div class="col-md-12">
          <div class="upper-text">
            <p>
              Daşınmaz əmlak
            </p>
            <a href="">hamısına bax</a>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div *ngFor="let item of indexEl" class="col-md-3">
          <div class="element">
            <div class="new">
              Yeni
            </div>
            <div class="img">
              <img src="../../../assets/img/image.svg" alt="">
            </div>
            <div class="price">
              <div class="price-number">
                151 <span>000</span>
              </div>
              <div class="price-name">
                AZN
              </div>
            </div>
            <div class="name">
              Həyət evi/Villa
            </div>
            <div class="about">
              <ul>
                <li>
                  Binəqədi ray.
                </li>
                <li>
                  <span>
                    6
                  </span>
                  otaq
                </li>
                <li>
                  <span>
                    250 m2
                  </span>
                </li>
              </ul>
            </div>

            <div class="date">
              <div class="date-time">
                Bakı, 23 mart 2019
              </div>
              <div class="time">
                <ul>
                  <li>
                    <div class="day">
                      12
                    </div>
                    <div class="day-name">
                      Gün
                    </div>
                  </li>
                  <li>
                    <div class="day">
                      6
                    </div>
                    <div class="day-name">
                      Saat
                    </div>
                  </li>
                  <li>
                    <div class="day">
                      55
                    </div>
                    <div class="day-name">
                      Dəqiqə
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-md-custom">
        <div class="col-md-6">
         <div class="pagination">
           <div class="pagination-left-arrow">
            <svg id="left-arrow_1_" data-name="left-arrow (1)" xmlns="http://www.w3.org/2000/svg" width="19" height="13" viewBox="0 0 19 13">
              <path id="Path" d="M6.2.2a.684.684,0,0,1,.957,0,.645.645,0,0,1,0,.922L2.3,5.843H18.32A.666.666,0,0,1,19,6.5a.674.674,0,0,1-.68.662H2.3l4.855,4.716a.656.656,0,0,1,0,.932.684.684,0,0,1-.957,0l-6-5.843a.645.645,0,0,1,0-.922Z" fill="#fdfffd"/>
            </svg>            
           </div>
           <div class="pagination-previous">
            Əvvəlki
           </div>
           <div class="separator">

           </div>
           <div class="pagination-numbers">
             <ul>
               <li>
                 <div class="number">
                   1
                 </div>
               </li>
               <li>
                <div class="number">
                  1
                </div>
              </li>
              <li>
                <div class="number">
                  1
                </div>
              </li>
              <li>
                <div class="number">
                  1
                </div>
              </li>
              <li>
                <div class="three-dot number">
                  ...
                </div>
              </li>
              <li>
                <div class="number">
                  1
                </div>
              </li>
              <li>
               <div class="number">
                 1
               </div>
             </li>
             <li>
               <div class="number">
                 1
               </div>
             </li>
             </ul>
           </div>
           <div class="separator">
             
           </div>
           <div class="pagination-next">
            Sonrakı
           </div>
           <div class="pagination-next-arrow">
            <svg id="left-arrow_1_" data-name="left-arrow (1)" xmlns="http://www.w3.org/2000/svg" width="19" height="13" viewBox="0 0 19 13">
              <path id="Path" d="M6.2.2a.684.684,0,0,1,.957,0,.645.645,0,0,1,0,.922L2.3,5.843H18.32A.666.666,0,0,1,19,6.5a.674.674,0,0,1-.68.662H2.3l4.855,4.716a.656.656,0,0,1,0,.932.684.684,0,0,1-.957,0l-6-5.843a.645.645,0,0,1,0-.922Z" fill="#fdfffd"/>
            </svg>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>

</section>
